
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1 class="text-center" style="margin-top:20px">Bu səhifəyə daxil olmaq üçün yetərli vəzifəniz yoxdur .</h1>

