@model FeedbackCategories
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-body p-9">
    <form asp-controller="Account" asp-action="CreateCategory" method="POST">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row mb-8">

            <div class="col-xl-2">
                <div class="fs-6 fw-bold mt-2 mb-3">Kateqoriya adı</div>
            </div>

            <div class="col-xl-4 fv-row fv-plugins-icon-container">
                <input type="text" class="form-control form-control-solid" asp-for="CategoryName">
                <span asp-validation-for="CategoryName" class="text-danger"></span>

            </div>
        </div>

        <div class="row mb-8">
            <div class="col-xl-2">
                <div class="fs-6 fw-bold mt-2 mb-3">Aid olduğu şöbə</div>
            </div>
            <div class="col-xl-4 fv-row fv-plugins-icon-container">
                <select asp-for="DepartmentID" class="form-control" asp-items="ViewBag.DepartmentID"></select>  
                <span asp-validation-for="DepartmentID" class="text-danger"></span>

            </div>
        </div>

        <div class="row mb-8">
            <div class="col-xl-9 fv-row fv-plugins-icon-container">
                <button type="submit" class="btn btn-primary">Yarat</button>

            </div>
        </div>
    </form>


</div>

