@model RegisterVM

<!DOCTYPE html>

<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <title>Metronic - the world's #1 selling Bootstrap Admin Theme Ecosystem for HTML, Vue, React, Angular &amp; Laravel by Keenthemes</title>
    <meta charset="utf-8" />
    <meta name="description" content="The most advanced Bootstrap Admin Theme on Themeforest trusted by 94,000 beginners and professionals. Multi-demo, Dark Mode, RTL support and complete React, Angular, Vue &amp; Laravel versions. Grab your copy now and get life-time updates for free." />
    <meta name="keywords" content="Metronic, bootstrap, bootstrap 5, Angular, VueJs, React, Laravel, admin themes, web design, figma, web development, free templates, free admin themes, bootstrap theme, bootstrap template, bootstrap dashboard, bootstrap dak mode, bootstrap button, bootstrap datepicker, bootstrap timepicker, fullcalendar, datatables, flaticon" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Metronic - Bootstrap 5 HTML, VueJS, React, Angular &amp; Laravel Admin Dashboard Theme" />
    <meta property="og:url" content="https://keenthemes.com/metronic" />
    <meta property="og:site_name" content="Keenthemes | Metronic" />
    <link rel="canonical" href="https://preview.keenthemes.com/metronic8" />
    <link rel="shortcut icon" href="https://preview.keenthemes.com/metronic8/demo1/assets/media/logos/favicon.ico" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
   
    <link href="~/Admin/plugins/global/plugins.dark.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/css/style.dark.bundle.css" rel="stylesheet" type="text/css" />
  
   
</head>

<body id="kt_body" class="dark-mode bg-light">
   
    <div class="d-flex flex-column flex-root">
      
        <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="background-image: url(/metronic8/demo1/assets/media/illustrations/sketchy-1/14-dark.png">
           
            <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
               
              
                <div class="w-lg-600px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto">
                    <form class="form w-100" id="kt_sign_up_form" asp-controller="Account" asp-action="Register" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="mb-10 text-center">
                           
                            <h1 class="text-dark mb-3">Create an Account</h1>
                          
                            <div class="text-gray-400 fw-bold fs-4">
                                Already have an account?
                                <a asp-action="Login" class="link-primary fw-bolder">Sign in</a>
                            </div>
                        </div>

                        <div class="row fv-row mb-7">
                            <div class="col-xl-6">
                                <label class="form-label fw-bolder text-dark fs-6">Adınız</label>
                                <input class="form-control form-control-lg form-control-solid" type="text" placeholder="" asp-for="FirstName" autocomplete="off" />
                            </div>
                          
                            <div class="col-xl-6">
                                <label class="form-label fw-bolder text-dark fs-6">Last Name</label>
                                <input class="form-control form-control-lg form-control-solid" type="text" placeholder="" asp-for="Surname" autocomplete="off" />
                            </div>
                           
                        </div>
                       
                        <div class="fv-row mb-7">
                            <label class="form-label fw-bolder text-dark fs-6">Email</label>
                            <input class="form-control form-control-lg form-control-solid" type="email" placeholder="" asp-for="Email" autocomplete="off" />
                        </div>
                        <div class="fv-row mb-7">
                            <label class="form-label fw-bolder text-dark fs-6">Username</label>
                            <input class="form-control form-control-lg form-control-solid" type="text" placeholder="" asp-for="UserName" autocomplete="off" />
                        </div>
                      
                        <div class="mb-10 fv-row" data-kt-password-meter="true">
                           
                            <div class="mb-1">
                              
                                <label class="form-label fw-bolder text-dark fs-6">Password</label>
                              
                                <div class="position-relative mb-3">
                                    <input class="form-control form-control-lg form-control-solid" type="password" placeholder="" asp-for="Password" autocomplete="off" />

                                </div>

                             

                            </div>
                         
                        </div>
                     
                        <div class="fv-row mb-5">
                            <label class="form-label fw-bolder text-dark fs-6">Confirm Password</label>
                            <input class="form-control form-control-lg form-control-solid" type="password" placeholder="" asp-for="RePassword" autocomplete="off" />
                        </div>
                      
                        <div class="text-center">
                            <button type="submit" id="kt_sign_up_submit" class="btn btn-lg btn-primary">
                                <span class="indicator-label">Submit</span>
                                <span class="indicator-progress">
                                    Please wait...
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </button>
                        </div>
                       
                    </form>
                  
                </div>
               
            </div>
          
        </div>

    </div>
   
    <script>var hostUrl = "https://preview.keenthemes.com/metronic8/demo1/assets/";</script>

</body>
</html>